  <header class="main-header">
    <!-- Header Navbar: style can be found in header.less -->
    <nav class="navbar navbar-static-top">
      <!-- Sidebar toggle button-->
      <a class="sidebar-toggle" id="sidebar-toggler" data-toggle="push-menu" data-slide="false" role="button">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>

      <div class="navbar-custom-menu">
        <ul class="nav navbar-nav">
          <li class="dropdown notifications-menu">
            <a href="" class="dropdown-toggle" data-toggle="dropdown">
              <i class="fa fa-ellipsis-v"></i>
              <span class="hidden-xs"></span>
            </a>
            <ul class="dropdown-menu" style="margin-right: -15px;width: 30px;">
              <li>
                <!-- inner menu: contains the actual data -->
                <ul class="menu">
                  <li>
                    <a href="" ng-click="signout();">Signout</a>
                  </li>
                </ul>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </nav>
  </header>

  <!-- =============================================== -->

  <!-- Left side column. contains the sidebar -->
  <aside class="main-sidebar" style="padding-top: 50px;">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
    
      <div class="user-panel" style="height: 150px;background: url('./img/sidebarbg.jpg') no-repeat fixed center;-webkit-background-size: cover;-moz-background-size: cover;-o-background-size: cover;background-size: cover;">
        <div class="pull-left image" style="height: 45px;">
          <img ng-src="http://waforapp.wuletaw/assets/img/profile_pictures/{{user.avatar}}" class="img-circle" alt="User Image">
        </div>
        <div class="pull-left info" style="color: white;">
          <p>{{user.name}}</p>
          <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
        </div>
      </div>    
      <ul class="sidebar-menu">
        <li> 
          <a href="#!home">
            <i class="fa fa-bell"></i> <span>Notice</span>
          </a>
        </li>
        <li>
          <a href="#!forums">
            <i class="fa fa-users"></i> <span>Forum</span>
          </a>
        </li>
        <li>
          <a href="#!election">
            <i class="fa fa-archive"></i> <span>Election</span>
          </a>
        </li>

      </ul>
    </section>
    <!-- /.sidebar -->
  </aside>

  <!-- =============================================== -->  

