

  <ng-include src="'templates/header.html'"></ng-include>

<br>
              <div class="col-md-8 col-md-offset-2 col-sm-8 col-sm-12 col-xs-12" >



                  <!-- <a href="#/home" class="btn btn-warning btn-block">Click here to refresh</a> -->
                  <div class="box" style="border-radius: 0; padding-top: 8px;">
                    <div class="box-body" style="padding-top: 0;">
                        <!-- Post -->


                        <form class="navbar-form navbar-left" role="search">
                            <div class="input-group input-group-md gorm-group">
                              <input type="text" ng-model="notice_key" class="form-control" placeholder="Search">
                                  <span class="input-group-btn">
                                    <button ng-click="searchNotices()" class="btn btn-default btn-flat"><i class="fa fa-search"></i></button>
                                  </span>
                            </div>          
                        </form><hr>
                        
                        <div pull-to-refresh="onReload()">
                            <div class="post" ng-repeat="x in notices" ng-bind="x">
                              <div class="user-block">
                                <img class="img-circle img-bordered-sm" src="http://waforapp.wuletaw/assets/img/profile_pictures/{{x.avatar}}" alt="user image" />
                                    <span class="username">
                                      <a href="#">{{x.first_name+' '+x.middle_name}}</a>
                                    </span>
                                <span class="description">{{x.user_type}} - {{x.date_posted}}</span>
                              </div>
                              <!-- /.user-block -->
                              <a href="" ng-click="openNotice(x.nid)"><h5>{{x.title}}</h5></a>
                              <p>{{x.content}} </p>
                            <!-- /.post -->
                            </div>
                        </div>
            </div>
          </div>

<!--           </div>

      </section>
      /.content


    </div>
  </div>

 -->

