
  <ng-include src="'templates/header.html'"></ng-include>

  <br>
  <div class="col-md-8 col-md-offset-2 col-sm-8 col-sm-12 col-xs-12" >
      <!-- <a href="#/home" class="btn btn-warning btn-block">Click here to refresh</a> -->
      <div class="box" style="border-radius: 0; padding-top: 8px;">
        <div class="box-body">
            <!-- Post -->

                <div class="post">
                    <div class="user-block">
                      <img class="img-circle img-bordered-sm" src="http://waforapp.wuletaw/assets/img/profile_pictures/{{notice.avatar}}" alt="user image">
                          <span class="username">
                            <a href="">{{notice.first_name+' '+notice.middle_name}}</a>
                          </span>
                      <span class="description">{{notice.user_type}} - {{notice.date_posted}}</span>
                    </div>
                    <!-- /.user-block -->
                    <h5><a href="http://waforapp.wuletaw/welcome/notice/6">{{notice.title}}</a></h5>
                    <p>{{notice.content}}</p>

                    <div class="form-group margin-bottom-none">
                      <input type="text" name="nid" ng-model="nid" value="{{notice.nid}}" hidden="">
                      <div class="col-sm-10">
                        <input class="form-control input-sm" ng-model="comment_content" name="comment_content" placeholder="Comment">
                      </div>
                      <div class="col-sm-2">
                        <button ng-click="comment()" class="btn btn-info pull-right btn-block btn-sm">Comment</button>
                      </div>
                    </div>
                    <hr>


                    <div class="direct-chat-msg" ng-repeat="comment in comments">
                      <div class="direct-chat-info clearfix">
                        <span class="direct-chat-name pull-left">{{comment.first_name+' '+comment.middle_name}}</span>
                        <span class="direct-chat-timestamp pull-right">{{comment.date_commented}}</span>
                      </div>
                      <!-- /.direct-chat-info -->
                      <img class="direct-chat-img" src="http://waforapp.wuletaw/assets/img/profile_pictures/{{comment.avatar}}" alt="message user image">
                      <!-- /.direct-chat-img -->
                      <div class="direct-chat-text">
                        {{comment.comment_content}}
                      </div>
                      <!-- /.direct-chat-text -->
                    </div>


                </div>            
        </div>
     
      </div>

      </section>
      

    </div>
  </div>



